.advantages {
  margin-top: 95px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  position: relative;
  color: #141823;
  margin-top: 95px;
  text-align: center;
}

.advantages__title--norms {
  &::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -58px;
    width: 40px;
    height: 42px;
    background-image: url("../img/norms.svg");
  }
}

.advantages__title--lock {
  &::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -58px;
    width: 32px;
    height: 42px;
    background-image: url("../img/lock.svg");
  }
}

.advantages__title--easy {
  &::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -58px;
    width: 43px;
    height: 38px;
    background-image: url("../img/easy.svg");
  }
}

.advantages__title--diag {
  &::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -58px;
    width: 42px;
    height: 42px;
    background-image: url("../img/diag.svg");
  }
}

.advantages__title--money {
  &::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -58px;
    width: 42px;
    height: 42px;
    background-image: url("../img/money.svg");
  }
}


.advantages__desc {
  color: #636363;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
}

