.consultation-form {
  background-color: #222628;
  padding: 30px 12px 22px;
  margin-top: 69px;
}

.consultation-form--light {
  background-color: #FBFBFB;
  border: 1px solid #EEEEEE;
}

.consultation-form__title {
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  padding-left: 66px;
  margin-bottom: 19px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/consultation.svg");
    background-repeat: no-repeat;
  }
}

.consultation-form__title--light {
  color: #141823;
  text-align: center;
  font-size: 18px;
  padding-left: 20px;
  margin-top: 0;

  &::before {
    top: -8px;
  }
}

.consultation-form__input {
  width: 100%;
  height: 52px;
  color: #ffffff;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;

  &::placeholder {
    color: #ffffff;
  }
}

.consultation-form__input--light {
  color: #222222;
  border: 1px solid #D7D7D7;

  &::placeholder {
    color: #222222;
    opacity: 0.6;
  }
}

.consultation-form__button {
  width: 100%;
  height: 52px;
  color: #FFFFFF;
  background-color: #FA7D08;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  border: 0;

  &::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    left: 80px;
  }
}

.consultation-form__button--light {
  font-size: 14px;

  &::before {
    left: 70px;
  }
}

.consultation-form__note {
  display: inline-block;
  margin-top: 12px;
  color: #ffffff;
  opacity: 0.5;
  font-size: 12px;
  line-height: 170%;
}

.consultation-form__note--light {
  color: #262C32;
  opacity: 0.5;
  text-align: center;
}

.consultation-form__link {
  color: #ffffff;
}

.consultation-form__link--light {
  color: #262C32;
}
