.docs {
  padding-left: 40px;
  padding-right: 15px;
  box-sizing: border-box;
}

.docs__link {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-top: 38px;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 77px;
  background-color: #FA7D08;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    left: -25px;
    top: -5px;
    width: 159px;
    height: 68px;
    background-image: url("../img/docs.svg");
    background-repeat: no-repeat;
  }
}