
body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1 {
  color: #141823;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  position: relative;
  margin-bottom: 30px;

  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #FA7D08;
    bottom: -10px;
  }
}

//h2, h3, h4, h5, h6 {
//  margin: 0 0 30px;
//  color: #141823;
//  font-weight: bold;
//  line-height: 120%;
//  position: relative;
//
//  &::before {
//    content: '';
//    position: absolute;
//    width: 100px;
//    height: 1px;
//    background-color: #FA7D08;
//    bottom: -10px;
//  }
//}

h2 {
  font-size: 20px;
}

.h2--center {
  text-align: center;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    left: 33%;
    background-color: #FA7D08;
    bottom: -10px;
  }
}

h3 {

}

p {
  color: #262C32;
  font-size: 15px;
  line-height: 170%;
}

li {
  font-size: 15px;
  margin-top: 15px;
}

.sub-ol {
  counter-reset: item;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 15px;
}

.sub-li {
  color: #636363;
  position: relative;
  margin-top: 10px;


  &::before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }
}

.main-nav #myLinks {
  display: none;
}

.main-nav {
  position: relative;
  overflow: hidden;
  background: #efefef;
}

.main-nav__next {
  &::before {
    content: '';
    position: absolute;
    right: 16px;
    top: 15px;
    width: 4px;
    height: 6px;
    background-image: url("../img/next.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #222628;
}

.main-nav__link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #BCBDBE;

  &:hover {
    background-color: #383B3D;
  }

  &:focus {
    background-color: #383B3D;
  }

  &:active {
    background-color: #383B3D;
  }
}

.nav-title__item {
  position: relative;
  color: #BCBDBE;
  font-size: 13px;
  height: 38px;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-left: 15px;
  background: #222628;
  border-bottom: 1px solid #464849;

  &:hover {
    background-color: #383B3D;
  }

  &:focus {
    background-color: #383B3D;
  }

  &:active {
    background-color: #383B3D;
  }
}

li span {
  font-size: 1.5em;
  line-height: .25em;
}
.hide
{
  margin-left:-300px;
  transition: all 0.8s ease;
}

.side-menu
{
  position:absolute;
  top: 0px;
  background: #eeeeee;
  color:white;
  width: 299px;
  height:350px;
  background: transparent;
  background-color:  #982a80;
}
.side-menu ul {
  border-top: 1px solid #600f4e;
}
.side-menu ul li a {
  background-color: #982a80;
}
.side-menu:last-child ul li a {
  background-color: #a93c91;
}
.show-menu
{
  margin-left:0 !important;

}
